<% if Spree::Post.all.any? %>
  <div class="news">
  	<% Spree::Post.published.limit(3).each do |post| %>
  	  <ul>
	  	  <h5><%= post.title %></h5>
	  	  <h6><%= post.subtitle %></h6>
        <% if post.picture.file? %>
          <ul>
  	  	    <%= image_tag post.picture.url %>
          </ul>
        <% end %>
	  	  <span> <%= post.description %> </span>
        <br/>
  	  </ul>
    <% end %>
  </div>
<% end %>
